<!DOCTYPE html>
<html>
    <head>
        <title>Donate</title>
        <meta name="viewport" content="width=device-width", initial-scale=1.0">

        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.1/css/bulma.min.css">
        <link rel="preconnect" href="https://fonts.gstatic.com"> 

        <link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="home.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    </head>
    <body>

        <nav class="navbar is-info">
            <div class="navbar-brand">
                 <a class="navbar-item" href="/">
                    <h2>🦚 Donster  </h2> 
                </a>
                <a class="navbar-item" href="/">
                    Home
                </a>
                <a class="navbar-item" href="#2">
                    About
                </a>
            </div>
        </nav>

        <div class="columns">
            <div class="column is-full">  
                <div class="allinone">
                <center><h1>Donate For Animals</h1></center>
                
                <form><script src="https://checkout.razorpay.com/v1/payment-button.js" data-payment_button_id="pl_GoSxCc2CkiE880" async> </script> </form>
                
                </div>
            </div>
        </div>

        <div class="columns">
            <div class="column is-full">
                <center><h2 style="padding-top: 5%; font-size: xx-large; font-family: 'Dancing Script', cursive">How Can Anyone Help ?</h2></center>
            </div>
        </div>




        <div class="columns">
            
            <div class="card column is-one-quarter">
                <div class="card-image">
                    <figure class="image is-4by3">
                    <img src="https://images.unsplash.com/photo-1559027615-cd4628902d4a?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1653&q=80" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                        <b>Volunteer</b> a few hours a week with the animals means the world to them, not to mention , the memories that will stay with you for a lifetime.
                    </div>
                </div>
            </div>

            <div class="card column is-one-quarter">
                <div class="card-image">
                    <figure class="image is-4by3">
                    <img src="https://images.unsplash.com/photo-1607227063002-677dc5fdf96f?ixid=MXwxMjA3fDB8MHxzZWFyY2h8Nnx8ZGVsaXZlcnl8ZW58MHwwfDB8&ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                    <b>Donate.</b> No amount is too small. It goes a long way to help animals at the rehab centre
                    </div>
                </div>
            </div>

            <div class="card column is-one-quarter">
                <div class="card-image">
                    <figure class="image is-4by3">
                    <img src="https://images.unsplash.com/photo-1614180186384-a8b292b726ac?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80" alt="Placeholder image">
                    </figure>
                </div>
                <div class="card-content">
                    <div class="content">
                    <b>Adopt.</b> Don’t buy or breed animals while there are many animals deprived of a good home. Come visit us &  you might just meet your soulmate.
                    </div>
                </div>
            </div>
    
        </div>




        <div class="columns aboutus" id="2">
            <div class="column is-half">
                <center><i><h3>Your support can help us in our mission to provide the best care for neglected animals. Every donation, no matter how small, can go a long way in putting an end to animal abuse. You can make a donation in an amount that suits you directly to our bank account or mail it to us if you prefer.</h3></i><center>
            </div>
            <center><img src="https://images.unsplash.com/photo-1504006833117-8886a355efbf?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1650&q=80"></center>
        </div>

        <div class="columns footers">
            <div class="column is-half">
                <center>© 2020 All Rights Reserved</center>
            </div>
            <div class="column is-half foo">
                <center>
                    <img src="https://img.icons8.com/fluent/144/000000/instagram-new.png"/>
                    <img src="https://img.icons8.com/fluent/144/000000/google-plus.png"/>
                    <img src="https://img.icons8.com/color/144/000000/facebook.png"/>
                </center>
            </div>
        </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/animejs/2.0.2/anime.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js " integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo " crossorigin="anonymous "></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js " integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6 " crossorigin="anonymous "></script>
    </body>
</html>
